@using Sitecore.Mvc;
@using Spark.Web
@using Sitecore.Data.Fields
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var menuField = (MultilistField)Model.Item.Fields[HeaderTemplate.Header.Fields.Menu];
    var navigationItems = menuField.GetItems();    
}
@if (Model != null)
{
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        @Html.Sitecore().Field(HeaderTemplate.Header.Fields.StoreLink.ToString(), Model.Item, new {@class= "web-url" })                       
                    </div>
                    <div class="col-md-6">
                        <h5>@Html.Sitecore().Field(HeaderTemplate.Header.Fields.StoreHeaderText.ToString(), Model.Item)</h5>
                    </div>
                    <div class="col-md-3">
                        <span class="ph-number">@Html.Sitecore().Field(HeaderTemplate.Header.Fields.StorePhoneNumber.ToString(), Model.Item)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        @Html.Sitecore().Field(HeaderTemplate.Header.Fields.Logo.ToString(), Model.Item)
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (navigationItems != null && navigationItems.Count() > 0)
                    {
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                @foreach (var navigationItem in navigationItems)
                                {
                                <li class="navbar-item">
                                    @Html.Sitecore().BeginField(NavigationTemplate.Navigation.Fields.NavigationLink.ToString(), navigationItem, new { @class = "nav-link" })
                                    @*@Html.Sitecore().Field(NavigationTemplate.Navigation.Fields.NavigationTitle.ToString(), navigationItem)*@
                                    @Html.Sitecore().EndField()
                                </li>
                                }                                
                            </ul>
                        </div>
                    }
                </nav>
            </div>
        </div>
    </header>
}



