@using Glass.Mapper.Sc.Web.Mvc
@model Spark.Web.Models.IBook

@if (Model != null)
{
    <div>
        @Html.Glass().Editable(Model, f => f.Title)
    </div>
    <div>
        @Html.Glass().Editable(Model, f => f.PublishedDate)
    </div>
    <div>
        @Html.Glass().Editable(Model, f => f.Summary)
    </div>
    <div>
        @Html.Glass().Editable(Model, f => f.Description)
    </div>
    <div>
        @Model.BookCategory
    </div>
    <div>
        @Html.Glass().RenderImage(Model, f => f.BookCover, isEditable: true)
    </div>
}